@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    margin:0;
}

body{
    margin:0;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

header{
    height: 150px;
}

#circle{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: hsl(214, 18%, 23%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#circle img{
    margin: 0;
    padding: 0;
    width: 35%;
    height: 35%;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{
    background-color: hsl(213, 19%, 18%);
    width:25em;
    height: 25em;
    border-radius: 25px;
    text-align: left;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content:space-between;
    align-items: center;
    
}

#rating-container{
    height: 100%;
    width: 100%;
}

#rating{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#rating h3{
    color:#fff;
    font-size: 30px;
    margin: 30px 0 0 0;
}

.box p{
    margin: 0;
    color: hsl(217, 12%, 63%);
    line-height: 25px;
}

button{
    border-style: hidden;
    margin: 0;
    
}

#state{
    display: flex;
    justify-content: space-between;
}

#state button {
    color: hsl(217, 12%, 63%);
    background-color: hsl(214, 18%, 23%);
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 18px;
}

.active{
    background-color:hsl(217, 12%, 63%)!important;
    color: #fff!important;
}

#state button:hover{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

#submit{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    margin:20px 0;
    height: 40px;
    letter-spacing: 3px;
}

#submit:hover{
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

#thank-you{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

#result{
    background-color:hsl(214, 18%, 23%);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

#result p{
    color:hsl(25, 97%, 53%);
}

#thank-you h3{
    color:#fff;
    font-size: 30px;
    margin: 5px 0 0 0;
}

.attribution{
    margin: 10px 0;
    color:#fff;
    padding: 5px;
}

.hidden {
    display:none !important;
}


@media ( max-width: 375px ) {
    .box { 
        width: 75vw;
        height: 85vw;
        font-size:14px;
     }

     .box p{
        line-height: 20px;
     }

     #rating h3{
        font-size: 25px;
        margin: 20px 0 0 0;
    }

    #thank-you h3{
        font-size:25px;
        margin: 0;
    }

    #state button{
        height:35px;
        width:35px;
        font-size:13px;
    }

    #submit{
        margin:10px 0;
    }
  }