html{
    margin:0;
}

body{
    margin:0;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    /* font-family: ; */
}



.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{
    background-color: hsl(213, 19%, 18%);
    width:25em;
    height: 25em;
    border-radius: 25px;
    text-align: left;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content:space-between;
}

.box h3{
    color:#fff;
    font-size: 30px;
}

.box p{
    color: hsl(217, 12%, 63%);
}

button{
    border-style: hidden;
}

#state{
    display: flex;
    justify-content: space-between;
}

#state button {
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 54%);
    border-radius: 30px;
    cursor: pointer;
}

#submit{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
}

.hidden {
    display:none;
}